@use '../custom' as *;
@use '../components/mixins' as *;

footer {
    @include gradient-rev;
    height: 100px;
    padding: 2rem;

    .contact-icons {
        text-align: center;
    }

    .footer-icons {
        flex: 1;
        font-size: 2.5rem;
        margin: 2rem;
        transition: all 0.6s ease-in-out;

        i:hover {
            text-shadow: 0px 0px 5px $gray-200;
            border-radius: 50%;
        }
    }

    #copyright {
        @include centerDiv;
        margin-top: 2rem;
        font-size: 1rem !important;
    }
}