@use '../custom' as *;
@use '../components/mixins' as *;

#intro {
    @include gradient;
    padding: 10rem 5rem 4rem 5rem;
    width: 100%;
    max-height: 600px;

    @include media-breakpoint-down(md) {
        height: 100%;
    }
}

.intros {
    .image-box {
        display: inline-block;
        margin: 0 auto;
        padding: 3px;
        width: 300px;
        height: 300px;
        background-image: url('../../images/arts/me-cartoon.png');
        filter: blur(1px);
        background-size: contain;

        &:hover {
            background-image: url('../../images/arts/me-normal.png');
            filter: none;
            transition: 0.5s;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    
    @include media-breakpoint-down(sm) {
        padding-top: 30px;
    }
}