@use '../custom' as *;
@use '../components/mixins' as *;

#projects {
    @include centerDiv;
    @include gradient-rev;
    border-radius: 10px;
    margin: 0 30px;
    padding-top: 10px;
    overflow: hidden;
}

#proj-title {
    font-size: 2rem;
    color: $gray-100;
    text-transform: lowercase;
    text-align: center;
    margin: 15px;
}

#proj-carousel {
    border-radius: 10px;

    @media screen and (max-width: 425px) {
        max-height: 250px;
    }
}

.carousel-inner {
    border-radius: 10px;
    max-width: 550px;
    
    .item {
        height: 430px !important;
        max-height: fit-content;

        .carousel-caption {
            padding: 10px 0;
            display: block;
            font-size: 1.5rem;
            height: 100px;
            text-align: center;
            text-transform: lowercase;
            text-shadow: none !important;

            @media screen and (max-width: 425px) {
                display: none;
            }
        }
    }
}

img {
    border-radius: 10px;

    @media screen and (max-width: 425px) {
        max-width: 300px;
        max-height: fit-content;
    }
}

.carousel-control {
    background-image: none !important;
    height: 300px;
    text-shadow: 4px 4px 0 $gray-400;
    
    &:hover.left .glyphicon {
        color: $gray-200;
        text-shadow: 0 0 5px $gray-200;
    }
    
    &:hover.right .glyphicon {
        color: $gray-200;
        text-shadow: 0 0 5px $gray-200;
    }

    @media screen and (max-width: 425px) {
        height: 150px;
    }
}