@use '../custom' as *;
@use '../components/mixins' as *;

#projects {
    @include gradient;
    border-radius: 10px;
    margin: 0 30px;
    padding-top: 10px;
}

#proj-title {
    font-size: 2rem;
    color: $gray-100;
    text-transform: lowercase;
    text-align: center;
    margin: 15px;
}

#proj-carousel {
    border-radius: 10px;
    @include centerDiv
}

.carousel-inner {
    border-radius: 10px;
    max-width: 550px;
    
    .item {
        height: 430px !important;

        .carousel-caption {
            padding: 10px 0;
            display: block;
            font-size: 1.5rem;
            height: 100px;
            text-align: center;
            text-transform: lowercase;
            text-shadow: none !important;
        }
    }
}

img {
    border-radius: 10px;
}

.carousel-control {
    background-image: none !important;
    height: 300px;
    text-shadow: 4px 4px 0 $gray-400;
    
    &:hover.left .glyphicon {
        color: $gray-200;
        text-shadow: 0 0 5px $gray-200;
    }
    
    &:hover.right .glyphicon {
        color: $gray-200;
        text-shadow: 0 0 5px $gray-200;
    }
}