@use '../custom' as *;
@use '../components/mixins' as *;

#contact-btn {
    width: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    span {
        @include gradient-rev;
        position: absolute;
        width: 100%;
        text-align: center;
        line-height: 80px;
        font-weight: 600;
        font-size: 2rem;
        transition: 0.6s linear;

        i.bi-chat-square-heart {
            margin-left: 25px;
        }
    }

    a {
        flex: 1;
        font-size: 2rem;
        text-align: center;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.3s linear;
        color: $gray-200;
        z-index: -1;
    }

    a#contact-link-gh {
        transition: all 0.6s ease-in-out;        
        
        i:hover {
            font-size: 2.5rem;
            text-shadow: 0 0 5px 5px $gray-100;
        } 
    }

    a#contact-link-li {
        transition: all 0.4s ease-in-out;        
        
        i:hover {
            font-size: 2.5rem;
            text-shadow: 0 0 5px 5px $gray-100;
        } 
    }

    a#contact-link-fb {
        transition: all 0.2s ease-in-out;        
        
        i:hover {
            font-size: 2.5rem;
            text-shadow: 0 0 5px 5px $gray-100;
        } 
    }

    @include media-breakpoint-down(md) {
        width: 200px;

        span {
            font-size: 1.75rem;
        }
    }
}