@use '../custom' as *;

// Gradient mixin
@mixin gradient {
    background: linear-gradient(to right, rgba($purple, 0.95), rgba(#ffd0ff, 0.95));
}

@mixin gradient-rev {
    background: linear-gradient(to right, rgba(#ffd0ff, 1), rgba($purple, 1));
    opacity: 1;
}

// Absolute center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}