@use '../custom' as *;

// Gradient mixin
@mixin gradient {
    background: linear-gradient(to right, rgba(#a690ff, 0.95), rgba(#ffd0ff, 0.95));
}

// Absolute center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}