@use '../custom' as *;

// Gradient mixin
@mixin gradient {
    background: linear-gradient(to right, rgba($purple-dark, 1), rgba($pink, 1));
}

@mixin gradient-rev {
    background: linear-gradient(to right, rgba($pink, 1), rgba($purple-dark, 1));
    opacity: 1;
}

// Absolute center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}