@use '../custom' as *;

// chat icon
i.bi {
    font-size: 2rem;
}

// li icon
i.bi-caret-right-fill {
    font-size: 1rem;
    color: $gray-500;
    padding-right: 5px;
}

// Intro
.display-2 {
    margin-bottom: 1rem;

    &--intro {
        display: inline-block;
        font-weight: 500;
    }

    &--description {
        font-size: 1.5rem;
        display: block;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;

        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
    }
}

// Heading line
.start-divider::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.start-divider::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    background-color: $primary;
}

// Ending line
.end-divider::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 0 auto;
    margin-top: 2rem !important;
    display: block;
    background-color: $primary;
}

.end-divider::after {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
    margin-bottom: 2rem;
}

// 3 tiered divider
.divider::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 15px auto 5px;
    display: block;
    background-color: $primary;
}

.divider::after {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $gray-200;
    margin-bottom: 1rem;
}

// About
.title {
    display: inline-block;
    font-weight: 400;
    font-size: 2rem;
    text-transform: lowercase;
    color: $gray-100;
}

.tech-card {
    padding-top: 1rem;
    text-align: center;
    color: $gray-500;
}

.text {
    font-size: 1.3rem;
    display: block;
    margin-top: 1rem;
    color: $gray-100;
    padding: 15px;
    text-align: center;

    b {
        color: $gray-500;
        font-weight: 500;
    }

    li {
        font-size: 1rem;
        position: relative;
        padding-left: 20px;
        color: $gray-100;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
        display: inline-block;
    }
}

.text-exp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    ul {
        display: block;
        column-gap: 5rem;
    }

    li {
        display: block;
        position: relative;
    }
}

.icon {
    color: $gray-200;

    &:hover {
        color: $gray-200;
    }
}